{% block content %}
    {% if articles %}
    {% for article in (articles_page.object_list if articles_page else articles) %}
    <div class="ui grid left aligned container stackable articles">
        <div class="ui two wide column left aligned">
            <div class="ui statistics">
                <div class="statistic">
                    <div class="value">
                        {{ article.date.strftime('%d')}}
                    </div>
                    <div class="label">
                        <i class="ui icon calendar"></i> {{ article.date.strftime('%b/%Y')}}
                    </div>
                </div>
            </div>
        </div>
        <div class="ui eight wide column left aligned">
            <a class="ui header huge" href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
            <div class="ui text justify-text">
                {{ article.summary }}
            </div>
            <p><a href="{{ SITEURL }}/{{ article.url }}" class="azul">Leia mais</a></p>
        </div>
        <div class="ui two wide column centered">
            {% if article.photo_image %}
                <img src="{{ SITEURL }}/{{ article.photo_image[2] }}" />
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% include 'pagination.html' %}
    {% else %}
    <h3>No articles yet! Please write one.</h3>
    {% endif %}
{% endblock %}
